

html {
background-color: #eeeee4;
box-sizing: border-box;
border: 1px solid black;
border-radius: 10px;

}

.theHead {
    background-color: brown;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    margin: none;
    padding-top: 0.5px;
    
}

.PCnote {
    color: white;
    background-color: #FBBC05;
    padding-bottom: 2px;
    padding-top: 2px;
}

.btn1 {
    color: white;
    background-color: #00539CFF;
}

.input1 {
    background-color: yellow;
    text-align: center;
}
*, *::before, *::after {
    box-sizing: inherit;
}

.parent1 {
    display: flex;
    flex-flow: row wrap;
}
.child1 {
    flex: 1 0 0;
    /*border: 1px solid black;*/
    /*padding: 1em;*/
    background-color: #34A853;
}

.child2 {
flex: 1 0 0;
/*border: 1px solid black;*/
/*padding: 1em;*/
}

